.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding-left: 15%;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 15%;
    
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}

li a{
    padding-right: 10px;
    color: #E5E7EB;
}